* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	overflow: hidden;
	background: radial-gradient(
		circle,
		rgba(0, 143, 128, 1) 0%,
		rgba(15, 0, 22, 1) 100%
	);
}

p {
	color: azure;
}
